html, body {
    height: 100%;
}

.NotLogged-Container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.NotLogged-Content {
    display: flex;
    height: 40%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.logo.big {
    font-size: 130px;
}